<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.saintcactus.android.hope"
    android:versionCode="1"
    android:versionName="0.1">
    <uses-sdk android:minSdkVersion="18"
              android:targetSdkVersion="18"/>

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
                 >

        <activity android:name=".frames.desktopFrame"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.desktop"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.saintcactus.android.hope.source_frames.DeviceScanActivity"
                  android:label="@string/title_devices">
            <intent-filter>
                <action android:name="android.intent.action.scan" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.saintcactus.android.hope.source_frames.DeviceServicesActivity"/>

        <activity android:name="com.saintcactus.android.hope.demo.DemoHeartRateSensorActivity"/>

        <activity android:name=".frames.settingFrame"
        android:label="Setting">
        <intent-filter>
            <action android:name="android.intent.action.setting" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>

        <activity android:name=".frames.profileFrame"
            android:label="Select profile">
            <intent-filter>
                <action android:name="android.intent.action.profile" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".frames.newProfileFrame"
            android:label="Add new contact">
            <intent-filter>
                <action android:name="android.intent.action.newprofile" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".frames.editProfileFrame"
            android:label="Edit contact">
            <intent-filter>
                <action android:name="android.intent.action.editprofile" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".frames.chooseProfileFrame"
            android:label="Choose to edit">
            <intent-filter>
                <action android:name="android.intent.action.chooseprofile" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".debugs.developmentRoom"
            android:label="Development Room"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.devroom" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="com.saintcactus.android.hope.source_frames.BleService" android:enabled="true"/>
    </application>

</manifest>
